@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
 body {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
 }
:root {
  --primary: #20bad1;
  --secondary: #191825;
}
.dark:root {
  --primary: #8121d0;
  --secondary: #331c52;
}
#siteHeader.is-scrolling .innerSticky {
  @apply bg-white dark:bg-darkprimary shadow-2xl transition-all ease-linear duration-300;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}


::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.moon {
  animation: keyframes-fill 0.5s;
}
.sun {
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
input:checked ~ .moon {
  display: none;
}

input:checked ~ .sun {
  display: block;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}

.active svg {
  fill: var(--primary);
}
.dark .active svg {
  fill: var(--primary);
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Animation */
}

.scroll-to-top-btn:hover {
  background-color: var(--secondary); 
  transform: scale(1.1); 
}