@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Audiowide);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primary: #20bad1;
  --secondary: #191825;
  --primary-rgb:32, 186, 209;
  --secondary-rgb:25, 24, 37;
}
.dark:root {
  --primary: #8121d0;
  --secondary: #331c52;
  --primary-rgb:129, 33, 208;
  --secondary-rgb:51, 28, 82;
}
html {
  scroll-behavior: smooth;
}
 body {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
 }
p, div {
  font-family: "jost", sans-serif;
}

#siteHeader.is-scrolling .innerSticky {
  @apply bg-white dark:bg-darkprimary shadow-2xl transition-all ease-linear duration-300;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 4px;
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}


::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.moon {
  animation: keyframes-fill 0.5s;
}
.sun {
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
input:checked ~ .moon {
  display: none;
}

input:checked ~ .sun {
  display: block;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}

.active svg {
  fill: var(--primary);
}
.dark .active svg {
  fill: var(--primary);
}

.scroll-to-top-btn {
  position: fixed;
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Animation */
}

/* .scroll-to-top-btn:hover {
  background-color: var(--secondary); 
  transform: scale(1.1); 
} */

.text-gradient {
  background-image: linear-gradient(to right, #20bad1, #8121d0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dark .text-gradient {
  background-image: linear-gradient(to right, #8121d0, #20bad1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.accordion-transition {
  transition: max-height 0.3s ease-in-out;
}

.bg-primary:hover,
.dark .bg-primary:hover {
  background-color: var(--secondary);
  transition: background-color 0.5s ease;
}

.progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 3px;
  background-color: var(--primary);
  z-index: 9999;
  transition: height 0.3s ease;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url('/assets/images/noise.png');
  background-size: 200px;
  background-repeat: repeat;
  opacity: .25;
  pointer-events: none;
}

.small-rounded {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -10%;
  left: -8%;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(var(--primary-rgb), 0.5);
  animation: rotateAndDisplay 1.5s ease forwards;
}

.big-rounded {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -10%;
  right: -10%;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(var(--secondary-rgb), 0.5);
  animation: rotateAndDisplay 1.5s ease forwards;
}

@keyframes rotateAndDisplay {
  from {
    transform: rotate(0deg) scale(0);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

@media screen and (max-width:600px) {
  .small-rounded {
    width: 100px;
    height: 100px;
    top: -6%;
    left: -12%;
  }
  .big-rounded {
    width: 200px;
    height: 200px;
    bottom: -5%;
    right: -12%;
  }
}