@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #20bad1;
  --secondary: #191825;
  --darkprimary: #ed143d;
}

#siteHeader.is-scrolling .innerSticky {
  @apply bg-white dark:bg-darkprimary shadow-2xl transition-all ease-linear duration-300;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.moon {
  animation: keyframes-fill 0.5s;
}
.sun {
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
input:checked ~ .moon {
  display: none;
}

input:checked ~ .sun {
  display: block;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}
